html {
  background-color: #1b1b1b;
}

body {
  margin: 0px;
  font-family: "AvenirNextMedium";
}

.container {
  display: flex;
  color: white;  
}

.notes {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
}

h1 {
  color: #c70625;
  font-family: "AvenirNextBold";
}

@font-face {
  font-family: "AvenirNextMedium";
  src: url('./assets/fonts/AvenirNextLTPro-Regular.otf') format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "AvenirNextBold";
  src: url("./assets/fonts/AvenirNextLTPro-Bold.otf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "AvenirNextItalic";
  src: url("./assets/fonts/AvenirNextLTPro-It.otf") format("truetype");
  font-style: italic;
}
