html {
  background-color: #242424;
}

body {
  margin: 0px;
  font-family: "AvenirNextMedium";
}

.container {
  display: flex;
  color: white;  
}

.notes {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.no-active-note {
  height: 100vh;
  text-align: center;
  line-height: 100vh;
  font-size: x-large;
  color: #999;
}

h1 {
  color: white;
  font-family: "AvenirNextBold";
}

@font-face {
  font-family: "AvenirNextMedium";
  src: url('./assets/fonts/AvenirNextLTPro-Regular.otf') format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "AvenirNextBold";
  src: url("./assets/fonts/AvenirNextLTPro-Bold.otf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "AvenirNextItalic";
  src: url("./assets/fonts/AvenirNextLTPro-It.otf") format("truetype");
  font-style: italic;
}
